[submodule "math"]
	path = math
	url = https://github.com/frankyeh/GMOL.git
[submodule "ml"]
	path = ml
	url = https://github.com/frankyeh/TMLL.git
[submodule "image"]
	path = image
	url = https://github.com/frankyeh/TIPL.git
