name: Test DSI Studio
on:
  workflow_dispatch:
    inputs:
      tag:
        description: 'Tag'
        required: true
        default: '2025.04.16'  
      build_prerelease:
        type: boolean
        description: 'build pre-release'
        required: false
        default: 'true'        
  workflow_call:
jobs:    
  linux-build:
    runs-on: ubuntu-latest
    steps:
    - name: Download Build
      if: ${{ github.event.inputs.build_prerelease == 'true' }}
      run: |
        git clone https://x-access-token:${{ secrets.DSISTUDIO_TOKEN }}@github.com/frankyeh/DSI-Studio-Build.git  
        mv DSI-Studio-Build/build_packages .
    - name: Set up QEMU
      if: ${{ github.event.inputs.build_prerelease == 'true' }}
      uses: docker/setup-qemu-action@v3.0.0
    - name: Set up Docker Buildx
      if: ${{ github.event.inputs.build_prerelease == 'true' }}
      uses: docker/setup-buildx-action@v3.0.0
    - name: Build and push
      if: ${{ github.event.inputs.build_prerelease == 'true' }}
      uses: docker/build-push-action@v5.1.0
      with:
        context: .
        build-args: |
          DSISTUDIO_TOKEN=${{ secrets.DSISTUDIO_TOKEN }}        
        file: build_packages/ubuntu2404/Dockerfile
        push: false
        outputs: dsi-studio
    - name: Packaging
      if: ${{ github.event.inputs.build_prerelease == 'true' }}
      run: |
        zip -r dsi_studio_prerelease.zip dsi-studio
    - name: Create Release
      if: ${{ github.event.inputs.build_prerelease == 'true' }}
      env:
        GH_TOKEN: ${{ secrets.DSISTUDIO_TOKEN }}
      run: |
        gh release upload ${{ github.event.inputs.tag }} *.zip --clobber --repo frankyeh/DSI-Studio
  test-dicom:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Download DICOM
      run: |
        mkdir -p data && curl -L https://ndownloader.figshare.com/files/36168675 -o data/download.zip && unzip data/download.zip -d data && rm data/download.zip

    - name: DICOM renaming
      run: |
       curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
       chmod 777 ./dsi-studio/dsi_studio     
       ./dsi-studio/dsi_studio --action=ren --source=./data/
       ./dsi-studio/dsi_studio --action=src --source=./data/
       mv ./data/*/*.nii.gz ./data
       cd data
       for f in *.nii.gz;
        do
          ../dsi_studio/dsi_studio --action=img --source=$f --cmd=change_type:3+normalize_otsu_median+upper_threshold:1+normalize:1+change_type:0 --output=../${f/%.nii/.nii.gz}
        done
       
       
  test-bids:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: BIDS to SRC
      run: |
       curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
       chmod 777 ./dsi-studio/dsi_studio
       aws s3 sync s3://openneuro.org/ds001378/ ./ds001378 --no-sign-request --region eu-west-1 --exclude "*bold*"
       ./dsi-studio/dsi_studio --action=src --source=./ds001378/
       ls ./ds001378/*/*/*/*.sz
    - name: SRC to FIB
      run: |
       mv ./ds001378/*/*/*/*.sz .
       ./dsi-studio/dsi_studio --action=rec --source=*.sz
       ls *.fz
  test_animal_recon:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://zenodo.org/record/6321169/files/mountsinai-S-sub-032156_dwi.src.gz?download=1 -o rhesus.src.gz
        chmod 777 ./dsi-studio/dsi_studio
    - name: Test DTI Recon
      run: |  
        ./dsi-studio/dsi_studio --source=*.src.gz --action=rec --method=1 |& tee -a log.txt
        ls rhesus.dti.fz
        
    - name: Test GQI Recon
      run: |  
        ./dsi-studio/dsi_studio --source=*.src.gz --action=rec |& tee -a log.txt
        ls rhesus.gqi.fz

    - name: Test QSDR Recon
      run: |  
        ./dsi-studio/dsi_studio --source=*.src.gz --action=rec --method=7 |& tee -a log.txt
        ls rhesus.qsdr.fz
    
  test_human_recon:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://github.com/data-openneuro/brain/releases/download/ds004737/sub-15852_ses-1_dwi.sz -o dsi.sz
        curl -sL https://github.com/data-openneuro/brain/releases/download/ds000244/sub-01_ses-00_dwi.sz -o dti.sz
        curl -sL https://github.com/data-openneuro/brain/releases/download/ds000031/sub-01_ses-004_dwi.sz -o ms.sz
        chmod 777 ./dsi-studio/dsi_studio
    - name: Test DTI Recon
      run: |
        ./dsi-studio/dsi_studio --source=*.sz --action=rec --method=1
        ls dsi.dti.fz 
        ls dti.dti.fz 
        ls ms.dti.fz 
        
    - name: Test GQI Recon
      run: |
        ./dsi-studio/dsi_studio --source=*.sz --action=rec
        ls dsi.gqi.fz
        ls dti.gqi.fz
        ls ms.gqi.fz

    - name: Test QSDR Recon
      run: |
        ./dsi-studio/dsi_studio --source=*.sz --action=rec --method=7 --template=0
        ls dsi.qsdr.fz
        ls dti.qsdr.fz
        ls ms.qsdr.fz
        
  test_human_tracking_qsdr:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://github.com/frankyeh/data-atlas/blob/main/human/human.fz?raw=true -o human.fz
        chmod 777 ./dsi-studio/dsi_studio
    - name: Tracking
      run: |
        ./dsi-studio/dsi_studio --source=human.fz --action=trk --output=icbm152.tt.gz --export=stat,tdi
        ls icbm152.tt.gz
        ls icbm152.tt.gz.tdi.nii.gz
        ls icbm152.tt.gz.stat.txt
        echo --------------------------------------------------------------------------------------------------
        ./dsi-studio/dsi_studio --source=human.fz --action=trk --track_id=ArcuateFasciculusL --tip_iteration=0 --output=AF_L.tt.gz
        ls AF_L.tt.gz
        echo --------------------------------------------------------------------------------------------------
        ./dsi-studio/dsi_studio --source=human.fz --action=trk --seed_count=1000000 --roi=FreeSurferDKT_Cortical:left_precentral,dilate,dilate,smoothing --roi2=FreeSurferDKT_Cortical:right_precentral,dilate,dilate,smoothing --output=LR.tt.gz
        ls LR.tt.gz
        echo --------------------------------------------------------------------------------------------------
        ./dsi-studio/dsi_studio --source=human.fz --action=trk --tract_count=1000000 --output=no_file --connectivity=FreeSurferDKT_Cortical
        ls human.fz.tt.gz.FreeSurferDKT_Cortical.qa.connectivity.mat
        ls human.fz.tt.gz.FreeSurferDKT_Cortical.tract2region.txt

  test_human_tracking_gqi:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://github.com/data-openneuro/brain/releases/download/ds001771/sub-03_dwi.gqi.fz -o gqi.fz
        curl -sL https://github.com/frankyeh/data-atlas/blob/main/human/human.QA.nii.gz?raw=true -o human.QA.nii.gz
        chmod 777 ./dsi-studio/dsi_studio
    - name: Tracking&Export
      run: |
        ./dsi-studio/dsi_studio --source=gqi.fz --action=trk --output=gqi.tt.gz --export=stat,tdi
        ls gqi.tt.gz
        ls gqi.tt.gz.tdi.nii.gz
        ls gqi.tt.gz.stat.txt
    
    - name: Tracking&Track ID
      run: |
        ./dsi-studio/dsi_studio --source=gqi.fz --action=trk --track_id=ArcuateFasciculusL --tip_iteration=0 --output=AF_L.tt.gz
        ls AF_L.tt.gz
    - name: Tracking&ROI
      run: |
        ./dsi-studio/dsi_studio --source=gqi.fz --action=trk --seed_count=1000000 --roi=FreeSurferDKT_Cortical:left_precentral,dilate,dilate,smoothing --roi2=FreeSurferDKT_Cortical:right_precentral,dilate,dilate,smoothing --output=LR.tt.gz
        ls LR.tt.gz
    - name: Tracking&Connectivity
      run: |
        ./dsi-studio/dsi_studio --source=gqi.fz --action=trk --output=no_file --connectivity=FreeSurferDKT_Cortical
        ls gqi.fz.tt.gz.FreeSurferDKT_Cortical.qa.connectivity.mat
        ls gqi.fz.tt.gz.FreeSurferDKT_Cortical.tract2region.txt
    - name: Tracking&Dt
      run: |
        ./dsi-studio/dsi_studio --source=gqi.fz --action=trk --other_slices=human.QA.nii.gz --dt_metric1=human.QA --dt_metric2=qa --seed_count=1000000 --dt_threshold=0.1 --output=dt.tt.gz
        ls dt.tt.gz
  test_export_registration:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://github.com/data-hcp/lifespan/releases/download/hcp-ya/100206.gqi.fz -o 100206.gqi.fz
        chmod 777 ./dsi-studio/dsi_studio
        git clone https://github.com/frankyeh/data-atlas.git
        mv data-atlas atlas
    - name: Export
      run: |
        ./dsi-studio/dsi_studio --source=100206.gqi.fz --action=exp --export=qa,iso 
        ls 100206.gqi.fz.qa.nii.gz
        ls 100206.gqi.fz.iso.nii.gz
    - name: Registration
      run: |
        ./dsi-studio/dsi_studio --action=reg --source=100206.gqi.fz.qa.nii.gz --to=./atlas/human/human.QA.nii.gz
        ls 100206.gqi.fz.qa.nii.gz.wp.nii.gz
        ./dsi-studio/dsi_studio --action=reg --source=100206.gqi.fz.qa.nii.gz,100206.gqi.fz.iso.nii.gz --to=./atlas/human/human.QA.nii.gz,./atlas/human/human.ISO.nii.gz
        ls 100206.gqi.fz.qa.nii.gz.wp.nii.gz

  test_connectometry:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://github.com/data-openneuro/disease/releases/download/ds001378/sub-all.dz -o sub-all.dz
        chmod 777 ./dsi-studio/dsi_studio
    - name: Connectometry
      run: |
        ./dsi-studio/dsi_studio --source=sub-all.dz --action=cnt --permutation=200 --variable_list=0,1,2 --voi=0
        ls *.report.html
        ls * -l
        
  test_automatic_tracking:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        curl -sL https://github.com/data-hcp/lifespan/releases/download/hcp-ya/100206.gqi.fz -o 100206.gqi.fz
        curl -sL https://github.com/data-hcp/lifespan/releases/download/hcp-ya/100307.gqi.fz -o 100307.gqi.fz
        chmod 777 ./dsi-studio/dsi_studio
    - name: Tracking
      run: |
        ./dsi-studio/dsi_studio --source=*.fz --action=atk --track_id=ArcuateFasciculusL
        ls */*ArcuateFasciculusL.tt.gz
        
  test_src_construction:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:
    - name: Setup Environment
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        chmod 777 ./dsi-studio/dsi_studio
    - name: Test GQI Recon
      run: |
        aws s3 sync --no-sign-request --region eu-west-1 --exclude "*" --include "*dwi.*" s3://openneuro.org/ds002087 ds002087   
        ./dsi-studio/dsi_studio --action=src --source=ds002087
        ls ds002087/sub-01/dwi/sub-01_run-1_dwi.nii.gz
        ls ds002087/sub-01/dwi/sub-01_run-2_dwi.nii.gz

  test_topup:
    needs: linux-build
    runs-on: ubuntu-latest
    steps:        
    - name: Cache FSL environment
      id: cache-fsl
      uses: actions/cache@v3
      with:
        path: /opt/fsl
        key: ${{ runner.os }}-fsl6.0.5.2
    - name: Prepare FSL environment
      if: steps.cache-fsl.outputs.cache-hit != 'true'
      run: curl -sSL https://fsl.fmrib.ox.ac.uk/fsldownloads/fsl-6.0.5.2-centos7_64.tar.gz | tar zxv --no-same-owner -C /opt --exclude='fsl/doc' --exclude='fsl/refdoc' --exclude='fsl/python/oxford_asl' --exclude='fsl/data/possum' --exclude='fsl/data/first' --exclude='fsl/data/mist' --exclude='fsl/data/atlases' --exclude='fsl/data/xtract_data' --exclude='fsl/extras/doc' --exclude='fsl/extras/man' --exclude='fsl/extras/src' --exclude='fsl/src'
    - name: Download NIFTI and Convert
      run: |
        curl -sL "https://github.com/frankyeh/DSI-Studio/releases/download/${{ github.event.inputs.tag }}/dsi_studio_prerelease.zip" | jar x
        chmod 777 ./dsi-studio/dsi_studio
        export OS="Linux"
        export FSLDIR="/opt/fsl"
        export FSL_DIR="$FSLDIR"
        export FSLOUTPUTTYPE="NIFTI_GZ"
        export FSLMULTIFILEQUIT="TRUE"
        export LD_LIBRARY_PATH="$FSLDIR/lib:$LD_LIBRARY_PATH"
        export FSLTCLSH="/usr/bin/tclsh"
        export FSLWISH="/usr/bin/wish"
        export PATH="$FSLDIR/bin:$PATH"        
        aws s3 sync --no-sign-request --region eu-west-1 --exclude "*" --include "*dwi.*" s3://openneuro.org/ds002080/sub-CON02/ses-postop . 
        ./dsi-studio/dsi_studio --action=src --bids=1 --topup_eddy=1 --source=./dwi
        
